{% extends "clientbase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head%}
    <title>Lfit Account</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock head%}

{%block content%}
{% endblock content%}

{% block body %}
    <div class="container" style="padding-left:50px; padding-top:40px;">
        
        <h1>{{ userprofile }}</h1>    
        <br>
        <form action="{% url 'user:account' %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p>Upload profile image here</p>
                {% csrf_token %}
                <input type="file" name="image">
            </div>
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
        
    </div>
{% endblock body%}