{% extends "clientbase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head%}
    <title>Lfit dashboard</title>
    <script>
            $(function(){
                $("#includedContent").load("pie_plot");
            });
    </script>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock head%}


{% block body %}
    <div class="row no-pad">
    <div class="container col-lg-6">
        <p> USERNAME: {{ user.username }}</p>
        <p> CLIENT: {{ userprofile }}</p>
        <p> gender: {{ userprofile.gender }}</p>
        <p> {{cycle_data.client}} </p>        
        <br>
        <div style="width:100px">

        </div>
        <img src="{{ userprofile.profile_pic.url }}" width=240>
        </div>
        <div class="col-lg-6 pie_section">
        <div id="includedContent">
        </div>
        </div>
    </div>
    <script>
        console.log(document.getElementsByTagName("P"));
//        console.log(document.getElementsByClassName("container"));
    </script>
    <script>
        document.getElementById("dash_tabs").style.display = "block";
    </script>




{% endblock body%}

