{% extends "clientbase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head%}
    <title>Lfit dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock head%}

{%block content%}
{% endblock content%}

{% block body %}
    <div class="container" style="padding-left:50px; padding-top:40px;">
        
        <p> USERNAME: {{ user.username }}</p>
        
        <p> CLIENT: {{ userprofile }}</p>
        
        
        <p> gender: {{ userprofile.gender }}</p>
        
    </div>
{% endblock body%}