
th {
    background-color: black;
    color:white;
}


tr:nth-child(even){background-color: #DDDDDD}


#comptable {
    
    width: 85%;
    
}

#option {
    color:black;
    background-color:white;
    border-color:none;
    border:0px;
    padding-top:20px;
}

#option > a {
    color:black;
}