.pi-div{
    display:block;
    height: 40px;
    width: 100%;
}

.pi-ptags{
    display:inline-block;
    float:left;
    padding-right: 5px;
    border: 1px solid;
    height: 55px;
    width: 10%;
    font-size:10px;
    text-align: center;
}