td a {
    color: black;
}

td a:hover {
    color: black;
    text-decoration: none;
}

td a:active {
    text-decoration: none;
    color:black;
}

.selectedRecord {
    background-color:#ccff99;
    color: black;
}

th {
    background-color: black;
    color:white;
}
