{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Clients</title>
    <link rel="stylesheet" href="{% static 'clients.css' %}">
{% endblock head%}

{% block body %}
<!--    NAVBAR    -->
    <div class="container Clientsnav">
       <ul class="tab">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'PersonalInfo')" style="display:'active'; ">Personal Info.</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Competition')">Competition</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Payments')">Payments</a></li>
        </ul>
    </div>

<!--    CONTENT    -->        
    <div class="AtheletePage">
        <div id="PersonalInfo" class="tabcontent" style="display:block">
          <h3>Personal Info.</h3>
          <p>This table displays personal information of all clients</p>
        
        <div class= "container-fixed table-responsive">
        <table class="table table-hover table-striped">
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Weight Class</th>
            <th>Age category</th>
            <th>Affiliate Division</th> 
        </tr>
        {% for n in query_personal %}
    <!--    <div class="pi-div">-->
        <tr>
            <td class="td_css" style="">{{n.first}}</td>
            <td class="td_css">{{n.last}}</td>
            <td class="td_css">{{n.dob}}</td>
            <td class="td_css">{{n.age}}</td>
            <td class="td_css">{{n.gender}}</td>
            <td class="td_css">{{n.email}}</td>
            <td class="td_css">{{n.mobile}}</td>
            <td class="td_css">{{n.weightclass}}</td>
            <td class="td_css">{{n.agecategory}}</td>
            <td class="td_css">{{n.affiliatedivision}}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
        
        </div>

        <div id="Competition" class="tabcontent">
          <h3>Competition Results </h3>
          <p>This table shows all competition results</p> 
        <div style="overflow-x:auto;" class="row">
            <div class= "container table-responsive">
                <table class="table table-hover table-striped">
                <tr>
                    <th>Comp. Date</th>
                    <th>Comp. Name</th>
                    <th>Location</th>
                    <th>Client</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Body Weight</th>
                    <th>Weight Class</th>
                    <th>SQ-1</th>
                    <th>SQ-2</th>
                    <th>SQ-3</th>
                    <th>BP-1</th>
                    <th>BP-2</th>
                    <th>Bp-3</th>
                    <th>DL-1</th>
                    <th>DL-2</th>
                    <th>DL-3</th>
                    <th>Total</th>
                    <th>Wilks</th>
                </tr>
                {% for n in query_comp %}
            <!--    <div class="pi-div">-->
                <tr>
                    <td class="td_css">{{n.compdate}}</td>
                    <td class="td_css">{{n.compname}}</td>
                    <td class="td_css">{{n.complocation}}</td>
                    <td class="td_css">{{n.client}}</td>
                    <td class="td_css">{{n.gender}}</td>
                    <td class="td_css">{{n.age}}</td>
                    <td class="td_css">{{n.bodyweight}}</td>
                    <td class="td_css">{{n.weightclass}}</td>
                    <td class="td_css">{{n.sq1}}</td>
                    <td class="td_css">{{n.sq2}}</td>
                    <td class="td_css">{{n.sq3}}</td>
                    <td class="td_css">{{n.bp1}}</td>
                    <td class="td_css">{{n.bp2}}</td>
                    <td class="td_css">{{n.bp3}}</td>
                    <td class="td_css">{{n.dl1}}</td>
                    <td class="td_css">{{n.dl2}}</td>
                    <td class="td_css">{{n.dl3}}</td>
                    <td class="td_css">{{n.comptotal}}</td>
                    <td class="td_css">{{n.wilks}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        
        </div>

        <div id="Payments" class="tabcontent">
          <h3>Payments</h3>
          <p>This table shows current payments and plans</p>

        <div class= "container table-responsive">
                <table class="table table-hover table-striped">
                <tr>
                    <th>Pay Date</th>
                    <th>Client</th>
                    <th>Cycle</th>
                    <th>Pay Plan</th>
                    <th>Weeks</th>
                    <th>Total to Pay</th>
                    <th>Payment method</th>
                </tr>
                {% for n in query_payments %}
            <!--    <div class="pi-div">-->
                <tr>
                    <td class="td_css" style="">{{n.paymentdate}}</td>
                    <td class="td_css">{{n.client}}</td>
                    <td class="td_css">{{n.cyclename}}</td>
                    <td class="td_css">{{n.payplan}}</td>
                    <td class="td_css">{{n.weeks}}</td>
                    <td class="td_css">{{n.totaltopay}}</td>
                    <td class="td_css">{{n.paymentmethod}}</td>

                </tr>
                {% endfor %}
                </table>
        </div>
        
        </div>

    
    </div>

<!--    JavaScript    -->
    <script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }    
    </script>
    <script>
        document.getElementById("clients").style.backgroundColor = "#000000"
        document.getElementById("clients").style.color = "white"
        
//        style="background-color:#000000; color:white"

    </script>

    <script>
        document.getElementById("client_tabs").style.display = "block";
    </script>

{% endblock body%}