{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Clients</title>
    <link rel="stylesheet" href="{% static 'clients.css' %}">
{% endblock head%}

{% block body %}
<!--    NAVBAR    -->

<!--    CONTENT    -->        
    <div class="AtheletePage">
        <div id="PersonalInfo" class="tabcontent" style="display:block">
          <h3>Personal Info.</h3>
          <p>This table displays personal information of all clients</p>
        <br><br>
        <div class="row no-pad">
            <div class="col-lg-10 col-lg-offset-1">
                <div class= "container-fixed table-responsive">
                <table class="table table-hover table-striped">
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>DOB</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Weight Class</th>
                    <th>Age category</th>
                    <th>Affiliate Division</th> 
                </tr>
                {% for n in query_personal %}
            <!--    <div class="pi-div">-->
                <tr>
                    <td>{{n.first}}</td>
                    <td>{{n.last}}</td>
                    <td>{{n.dob}}</td>
                    <td>{{n.age}}</td>
                    <td>{{n.gender}}</td>
                    <td>{{n.email}}</td>
                    <td>{{n.mobile}}</td>
                    <td>{{n.weightclass}}</td>
                    <td>{{n.agecategory}}</td>
                    <td>{{n.affiliatedivision}}</td>
                    <td id="option"><a href=#><i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
        
        </div>

        <div id="Competition" class="tabcontent">
          <h3>Competition Results </h3>
          <p>This table shows all competition results</p> 
            <br><br>
            <div>
            <div class="container-fixed">
            <div class="row no-pad">
            <div class="col-lg-11 table-responsive">
                <table class="table table-hover table-striped">
                <tr>
                    <th>Comp. Date</th>
                    <th>Comp. Name</th>
                    <th>Location</th>
                    <th>Client</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Body Weight</th>
                    <th>Weight Class</th>
                    <th>SQ-1</th>
                    <th>SQ-2</th>
                    <th>SQ-3</th>
                    <th>BP-1</th>
                    <th>BP-2</th>
                    <th>Bp-3</th>
                    <th>DL-1</th>
                    <th>DL-2</th>
                    <th>DL-3</th>
                    <th>Total</th>
                    <th>Wilks</th>
                </tr>
                {% for n in query_comp %}
            <!--    <div class="pi-div">-->
                <tr>
                    <td>{{n.compdate}}</td>
                    <td>{{n.compname}}</td>
                    <td>{{n.complocation}}</td>
                    <td>{{n.client}}</td>
                    <td>{{n.gender}}</td>
                    <td>{{n.age}}</td>
                    <td>{{n.bodyweight}}</td>
                    <td>{{n.weightclass}}</td>
                    <td>{{n.sq1}}</td>
                    <td>{{n.sq2}}</td>
                    <td>{{n.sq3}}</td>
                    <td>{{n.bp1}}</td>
                    <td>{{n.bp2}}</td>
                    <td>{{n.bp3}}</td>
                    <td>{{n.dl1}}</td>
                    <td>{{n.dl2}}</td>
                    <td>{{n.dl3}}</td>
                    <td>{{n.comptotal}}</td>
                    <td>{{n.wilks}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        </div>
        </div>
        </div>
        

        <div id="Payments" class="tabcontent">
          <h3>Payments</h3>
          <p>This table shows current payments and plans</p>
            <br><br>
            <div class="container-fixed">
            <div class="row no-pad">
            <div class="col-lg-10 col-lg-offset-1 table-responsive">
                <table class="table table-hover table-striped">
                <tr>
                    <th>Pay Date</th>
                    <th>Client</th>
                    <th>Cycle</th>
                    <th>Pay Plan</th>
                    <th>Weeks</th>
                    <th>Total to Pay</th>
                    <th>Payment method</th>
                </tr>
                {% for n in query_payments %}
            <!--    <div class="pi-div">-->
                <tr>
                    <td>{{n.paymentdate}}</td>
                    <td>{{n.client}}</td>
                    <td>{{n.cyclename}}</td>
                    <td>{{n.payplan}}</td>
                    <td>{{n.weeks}}</td>
                    <td>{{n.totaltopay}}</td>
                    <td>{{n.paymentmethod}}</td>

                </tr>
                {% endfor %}
                </table>
        </div>
        
        </div>
            </div>
        </div>
    
    </div>

<!--    JavaScript    -->
    <script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }    
    </script>
    <script>
        document.getElementById("clients").style.backgroundColor = "#FFF";
        document.getElementById("clients").style.color = "#00d8ff";
        
//        style="background-color:#000000; color:white"

    </script>

    <script>
        document.getElementById("client_tabs").style.display = "block";
    </script>

{% endblock body%}