{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Export</title>
    <link rel="stylesheet" href="{% static 'export.css' %}">
{% endblock head%}

{%block content%}
{% endblock content%}

{% block body %}
    <br> 
    <br>
    <div class="container">
    <table class="table_css" align="center">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Weight Class</th>
        <th>Age category</th>
        <th>Affiliate Division</th> 
    </tr>
    {% for n in queryall %}
<!--    <div class="pi-div">-->
    <tr>
        <td class="td_css" style="">{{n.first}}</td>
        <td class="td_css">{{n.last}}</td>
        <td class="td_css">{{n.dob}}</td>
        <td class="td_css">{{n.age}}</td>
        <td class="td_css">{{n.gender}}</td>
        <td class="td_css">{{n.email}}</td>
        <td class="td_css">{{n.mobile}}</td>
        <td class="td_css">{{n.weightclass}}</td>
        <td class="td_css">{{n.agecategory}}</td>
        <td class="td_css">{{n.affiliatedivision}}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    <!--JavaScript code-->
    <script>
        document.getElementById("main").style.backgroundColor = "#000000"
        document.getElementById("main").style.color = "white"
        
//        style="background-color:#000000; color:white"

    </script>
{% endblock body%}