{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Calendar</title>
{% endblock head%}

{% block body %}
<!--    CONTENT    -->        
    <div>
    </div>
    <div class="AtheletePage">
        <div>
          <h3>Calendar</h3>
          <p>This is where the Calendar content will be displayed</p>
        </div>
        <br>
        <div class="container">
            <p><a href="personalinput">Personal input form </a></p><br>
            <p><a href="compresultsinput">Comp. Results form </a></p><br>
            <p><a href="paymentsinput">Payments Form </a></p><br>
            <p><a href="cyclecreateinput">Cycle Create Form </a></p><br>       
        </div>
        
    </div>
    <script>
        document.getElementById("forms_nav").style.backgroundColor = "#FFF";
        document.getElementById("forms_nav").style.color = "#00d8ff";
    </script>
{% endblock body%}