{% extends 'base.html' %}
{% load staticfiles %}

{% load bootstrap3 %}


{% block head %}
	<title>Admin-Login</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">

{% endblock head %}

{% block body %}
<div class="container customform">
	<br>
	<form action="{% url 'auth:login' %}" class="form-signin" method="post" style="color:white;">
	   <h1 class="form-signin-header"> Admin login </h1>
        <br>
		{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
        {% buttons %}
        
		<button type="submit" class="btn btn-primary">{% bootstrap_icon "user" %} Login </button>
        
      {% endbuttons %}
	</form>
</div>
{% endblock body %}