<!doctype html> 
{% load staticfiles %}


<head>
<title>Admin-Logout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    <title>Logout</title>
</head>
<body>
    <div class="container customform">
        <h1 style=""> Logged out of Admin! </h1>
        <br><br>
        <p> Successfully logged out from admin account </p>
        <br><br>
        <p><a href="{% url 'auth:login' %}">login</a></p>
    </div>
</body>