{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Matplotlib</title>
{% endblock head%}

{% block body %}
<!--    CONTENT    -->        
    <div>
    </div>
    <div class="AtheletePage">
        <div>
          <h3>MatplotLib</h3>
          <p>Displaying data from matplotlib</p>
        </div>
        <div class="container">
                    
        </div>
    </div>
    <script>
        document.getElementById("calendar_nav").style.backgroundColor = "#000000"
        document.getElementById("calendar_nav").style.color = "white"
            
    
    </script>
{% endblock body%}