{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Export</title>
    <link rel="stylesheet" href="{% static 'export.css' %}">
{% endblock head%}

{%block content%}
{% endblock content%}

{% block body %}
    <form method='POST'> 
    {% for input in form %}
    {% csrf_token %}
    
    {{ input.label}}
    {{ input }}
    <br>

    {% endfor %}
    <input type="submit" value="Submit">
    </form>

    <!--JavaScript code-->
    <script>
        document.getElementById("main").style.backgroundColor = "#000000"
        document.getElementById("main").style.color = "white"
        
//        style="background-color:#000000; color:white"

    </script>
{% endblock body%}