{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Research</title>
   <script>
            $(function(){
                $("#includedContent").load("research2");
            });
    </script>
{% endblock head%}

{% block body %}

<!--    NAVBAR    -->

    <div class="container Clientsnav">
       <ul class="tab">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'PersonalInfo')" style="display:'active'; ">Fatigue vs. Strength</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Competition')">Tab 2</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Payments')">Tab 3</a></li>
        </ul>
    </div>

    <!-- CONTENT             -->

 <div class="AtheletePage">
        <div id="PersonalInfo" class="tabcontent" style="display:block">
          <h3>Fatigue vs. Strength Table</h3>
          <p>This page display a line graph created used matplotlib.</p>
        <p style='color:red'>Additional Features: Add a legend to the graph</p>
            <div id="includedContent"></div>
        </div>

        <div id="Competition" class="tabcontent">
          <h3>Research tab 2 Content</h3>
          <p>This tab is to be filled with contents</p> 
        </div>

        <div id="Payments" class="tabcontent">
          <h3>Research tab 3 Content</h3>
          <p>This tab is to be filled with contents</p>
        </div>
    </div>

<!--    JavaScript    -->
    <script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }    
    </script>
    <script>
        document.getElementById("research").style.backgroundColor = "#000000"
        document.getElementById("research").style.color = "white"

    </script>
    <script>
        document.getElementById("research_tabs").style.display = "block";
    </script>
{% endblock body%}