{% extends "base.html" %}
{% load staticfiles %}

{% block head%}
    <title>Admin-Training</title>
    <link rel="stylesheet" href="{% static 'clients.css' %}">
    <link rel="stylesheet" href="{% static 'training.css' %}">
{% endblock head%}

{% block body %}
<!--    NAVBAR    -->
    <div class="container Clientsnav">
       <ul class="tab">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'cycleCreation')" style="display:'active'; ">Cycle Creation</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'latestCycle')">Latest Cycle</a></li>
           <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'liveCycle')">Live Cycle</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'pendingCycle')">Pending Cycle</a></li>
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Analysis')">Analysis</a></li>
        </ul>
    </div>

<!--    CONTENT    -->        
    <div class="AtheletePage">
        <div id="cycleCreation" class="tabcontent">
            
            <!--    CONTENT    -->        
            <!-- First Line -->
            <div class="topsection">
                <div class="NameWrapper" style="width: 25%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>

                <div id="createCycle" class="NameWrapper" style="width: 20%">
                </div>
                <div id="createStart" class="NameWrapper" style="width: 15%">
                </div>
                <div id="createDays" class="NameWrapper" style="width: 10%">
                </div>
                <div id="createWeeks" class="NameWrapper" style="width: 10%">
                </div>
                <div id="createCycleName" class="NameWrapper" style="width: 20%">
                </div>
            </div>
            <!-- Second Line -->
            <div class="midsection">
                <div class="midWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>
                <div class="midWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>
                <div class="midWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>

                
            </div>
            <!-- Third Line -->
            <div class="bottomsection">
                <div class="bottomWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>
                <div class="bottomWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>
                <div class="bottomWrapper" style="width: 33.33%">
                    <div class="createFirstName">
                    </div>
                    <div class="createLastName">
                    </div>
                </div>

                
            </div>
            
        </div>       
    
    </div>
            
    <div id="latestCycle" class="tabcontent">
         
            <div class="upperwidgets">
                <div class="container currentCycleTotal">
                    
                </div>
                <div class="container cyclesPending">
                
                </div>
            </div>
            
            <div class="lowertables">
                <div class="container LCTable">
                    
                </div>
                <div class="container filler">
                </div>
                <div class="container PCTable">
                </div>            
            </div>
            <div class="buttonsCenter">
                <div class="LCButtons">
                <button type="button"> Migrate </button>
                <button type="button"> Remove </button>    
                <button type="button"> Refresh </button>     
                </div>
                <div class="filler" style="height:50px">
                </div>
                <div class="PCbuttons">
                <button type="button"> Migrate </button>
                <button type="button"> Remove </button>    
                <button type="button"> Refresh </button>
                </div>
            </div>
        </div>            

        <div id="liveCycle" class="tabcontent" style="display:block">
         
            <div class="upperwidgets">
                <div class="container currentCycleTotal">
                    
                </div>
                <div class="container cyclesPending">
                
                </div>
            </div>
            
        <div class="lowertables" style="overflow-x:auto;">            
        <table class="table_css" align="center">
        <tr>

<!--     Standard info       -->
            
            <th>Client</th>

            <th><a></a>Cycle Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Training Type</th>
            <th>Days</th>
            <th>Weeks</th>
            
<!--     Fatigue protocols       -->
            <th>sslots</th>
            <th>bslots</th>
            <th>dslots</th>
            <th>totslots</th>
            <th>totpct</th>
            <th>spctot</th>
            <th>bpctot</th>
            <th>dpcttot</th>
            
<!--     # .. > A* fatigue protocols       -->
            <th>smpct</th>   
            <th>svpct</th>
            <th>sspct</th>
            <th>bmpct</th>
            <th>bv1pct</th>
            <th>bv2pct</th>
            <th>bs1pct</th>
            <th>bs2pct</th>
            <th>dmpct</th>
            <th>dvpct</th>
            <th>dspct</th>
<!--	# .. > B* fatigue protocols-->
            
            <th>smApct</th>
            <th>svApct</th>
            <th>ssApct</th>
            <th>bmApct</th>
            <th>bv1Apct</th>
            <th>bv2Apct</th>
            <th>bs1Apct</th>
            <th>bs2Apct</th>
            <th>dmApct</th>
            <th>dvApct</th>
            <th>dsApct</th>
            
<!--	# .. > A* movements-->        
            <th>smmov</th>
            <th>svmov</th>
            <th>ssmov</th>
            <th>bmmov</th>
            <th>bv1mov</th>
            <th>bv2mov</th>
            <th>bs1mov</th>
            <th>bs2mov</th>
            <th>dmmov</th>
            <th>dvmov</th>
            <th>dsmov</th>
<!--	# .. > B* movements-->        
            <th>smAmov</th>
            <th>smAmov</th>
            <th>svAmov</th>
            <th>ssAmov</th>
            <th>bmAmov</th>
            <th>bv1Amov</th>
            <th>bv2Amov</th>
            <th>bs1Amov</th>
            <th>bs2Amov</th>
            <th>dmAmov</th>
            <th>dvAmov</th>
            <th>dsAmov</th>
        </tr>    
<!--  Extracted records using for loop  -->
        {% for q in query_live %}

        <tr id="{{q.client}}">
            
    <!--     Standard info       -->
            <td>{{q.client}}</td>
            <td><a href="javascript:void(0)" class="tablinks" onclick="selectLiveCycle(event, '{{q.client}}','{{q.cyclename}}')">{{q.cyclename}}</a></td>
            <td>{{q.startdate}}</td>
            <td>{{q.enddate}}</td>
            <td>{{q.trainingtype}}</td>
            <td>{{q.days}}</td>
            <td>{{q.weeks}}</td>
            <td>{{q.totaldays}}</td>
            
    <!--     Fatigue protocols       -->
            
            <td>{{q.sslots}}</td>
            <td>{{q.bslots}}</td>
            <td>{{q.dslots}}</td>
            <td>{{q.totslots}}</td>
            <td>{{q.totpct}}</td>
            <td>{{q.spctot}}</td>
            <td>{{q.bpcttot}}</td>
            <td>{{q.dpcttot}}</td>
            
            
    <!-- # .. > A* fatigue protocols -->
            
            <td>{{q.smpct}}</td>
            <td>{{q.svpct}}</td>
            <td>{{q.sspct}}</td>
            <td>{{q.bmpct}}</td>
            <td>{{q.bv1pct}}</td>
            <td>{{q.bv2pct}}</td>
            <td>{{q.bs1pct}}</td>
            <td>{{q.bs2pct}}</td>
            <td>{{q.dmpct}}</td>
            <td>{{q.dvpct}}</td>
            <td>{{q.dspct}}</td>
            
    <!--	# .. > B* fatigue protocols-->
            
            <td>{{q.smApct}}</td>
            <td>{{q.svApct}}</td>
            <td>{{q.ssApct}}</td>
            <td>{{q.bmApct}}</td>
            <td>{{q.bv1Apct}}</td>
            <td>{{q.bv2Apct}}</td>
            <td>{{q.bs1Apct}}</td>
            <td>{{q.bs2Apct}}</td>
            <td>{{q.dmApct}}</td>
            <td>{{q.dvApct}}</td>
            <td>{{q.dsApct}}</td>
            
    <!--	# .. > A* movements-->                    
            
            <td>{{q.smmov}}</td>
            <td>{{q.svmov}}</td>
            <td>{{q.ssmov}}</td>
            <td>{{q.bmmov}}</td>
            <td>{{q.bv1mov}}</td>
            <td>{{q.bv2mov}}</td>
            <td>{{q.bs1mov}}</td>
            <td>{{q.bs2mov}}</td>
            <td>{{q.dmmov}}</td>
            <td>{{q.dvmov}}</td>
            <td>{{q.dsmov}}</td>

    <!--	# .. > B* movements-->                   
            <td>{{q.smAmov}}</td>
            <td>{{q.svAmov}}</td>
            <td>{{q.ssAmov}}</td>
            <td>{{q.bmAmov}}</td>
            <td>{{q.bv1Amov}}</td>
            <td>{{q.bv2Amov}}</td>
            <td>{{q.bs1Amov}}</td>
            <td>{{q.bs2Amov}}</td>
            <td>{{q.dmAmov}}</td>
            <td>{{q.dvAmov}}</td>
            <td>{{q.dsAmov}}</td>
        </tr>

        {% endfor %}
        </table>
            </div>
            
            <div class="buttonsCenter">
                <div class="LCButtons">
                <form action="/account/training" method="post" onsubmit="return checkLiveValid()" id="liveform">
                    {% csrf_token %}
                    <input type="submit" value="Migrate">
                    <input type="hidden" name="cycle" value="" id="liveinput">
                    <button type="button"> Remove </button>    
                    <button type="button"> Refresh </button>  
                </form>
                </div>
            </div>
        </div>
        <div id="pendingCycle" class="tabcontent">
         
            <div class="upperwidgets">
                <div class="container currentCycleTotal">
                    
                </div>
                <div class="container cyclesPending">
                
                </div>
            </div>
            
        <div class="lowertables" style="overflow-x:auto;">            
        <table class="table_css" align="center">
        <tr>

<!--     Standard info       -->
            
            <th>Client</th>

            <th>Cycle Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Training Type</th>
            <th>Days</th>
            <th>Weeks</th>
            
<!--     Fatigue protocols       -->
            <th>sslots</th>
            <th>bslots</th>
            <th>dslots</th>
            <th>totslots</th>
            <th>totpct</th>
            <th>spctot</th>
            <th>bpctot</th>
            <th>dpcttot</th>
            
<!--     # .. > A* fatigue protocols       -->
            <th>smpct</th>   
            <th>svpct</th>
            <th>sspct</th>
            <th>bmpct</th>
            <th>bv1pct</th>
            <th>bv2pct</th>
            <th>bs1pct</th>
            <th>bs2pct</th>
            <th>dmpct</th>
            <th>dvpct</th>
            <th>dspct</th>
<!--	# .. > B* fatigue protocols-->
            
            <th>smApct</th>
            <th>svApct</th>
            <th>ssApct</th>
            <th>bmApct</th>
            <th>bv1Apct</th>
            <th>bv2Apct</th>
            <th>bs1Apct</th>
            <th>bs2Apct</th>
            <th>dmApct</th>
            <th>dvApct</th>
            <th>dsApct</th>
            
<!--	# .. > A* movements-->        
            <th>smmov</th>
            <th>svmov</th>
            <th>ssmov</th>
            <th>bmmov</th>
            <th>bv1mov</th>
            <th>bv2mov</th>
            <th>bs1mov</th>
            <th>bs2mov</th>
            <th>dmmov</th>
            <th>dvmov</th>
            <th>dsmov</th>
<!--	# .. > B* movements-->        
            <th>smAmov</th>
            <th>smAmov</th>
            <th>svAmov</th>
            <th>ssAmov</th>
            <th>bmAmov</th>
            <th>bv1Amov</th>
            <th>bv2Amov</th>
            <th>bs1Amov</th>
            <th>bs2Amov</th>
            <th>dmAmov</th>
            <th>dvAmov</th>
            <th>dsAmov</th>
        </tr>    
<!--  Extracted records using for loop  -->
        {% for q in query_pending %}

        <tr id="{{q.client}}">
            
    <!--     Standard info       -->
            
            <td>{{q.client}}</td>
            <td><a href="javascript:void(0)" class="tablinks" onclick="selectPendingCycle(event, '{{q.client}}','{{q.cyclename}}')">{{q.cyclename}}</a></td>
            <td>{{q.startdate}}</td>
            <td>{{q.enddate}}</td>
            <td>{{q.trainingtype}}</td>
            <td>{{q.days}}</td>
            <td>{{q.weeks}}</td>
            <td>{{q.totaldays}}</td>
            
    <!--     Fatigue protocols       -->
            
            <td>{{q.sslots}}</td>
            <td>{{q.bslots}}</td>
            <td>{{q.dslots}}</td>
            <td>{{q.totslots}}</td>
            <td>{{q.totpct}}</td>
            <td>{{q.spctot}}</td>
            <td>{{q.bpcttot}}</td>
            <td>{{q.dpcttot}}</td>
            
            
    <!-- # .. > A* fatigue protocols -->
            
            <td>{{q.smpct}}</td>
            <td>{{q.svpct}}</td>
            <td>{{q.sspct}}</td>
            <td>{{q.bmpct}}</td>
            <td>{{q.bv1pct}}</td>
            <td>{{q.bv2pct}}</td>
            <td>{{q.bs1pct}}</td>
            <td>{{q.bs2pct}}</td>
            <td>{{q.dmpct}}</td>
            <td>{{q.dvpct}}</td>
            <td>{{q.dspct}}</td>
            
    <!--	# .. > B* fatigue protocols-->
            
            <td>{{q.smApct}}</td>
            <td>{{q.svApct}}</td>
            <td>{{q.ssApct}}</td>
            <td>{{q.bmApct}}</td>
            <td>{{q.bv1Apct}}</td>
            <td>{{q.bv2Apct}}</td>
            <td>{{q.bs1Apct}}</td>
            <td>{{q.bs2Apct}}</td>
            <td>{{q.dmApct}}</td>
            <td>{{q.dvApct}}</td>
            <td>{{q.dsApct}}</td>
            
    <!--	# .. > A* movements-->                    
            
            <td>{{q.smmov}}</td>
            <td>{{q.svmov}}</td>
            <td>{{q.ssmov}}</td>
            <td>{{q.bmmov}}</td>
            <td>{{q.bv1mov}}</td>
            <td>{{q.bv2mov}}</td>
            <td>{{q.bs1mov}}</td>
            <td>{{q.bs2mov}}</td>
            <td>{{q.dmmov}}</td>
            <td>{{q.dvmov}}</td>
            <td>{{q.dsmov}}</td>

    <!--	# .. > B* movements-->                   
            <td>{{q.smAmov}}</td>
            <td>{{q.svAmov}}</td>
            <td>{{q.ssAmov}}</td>
            <td>{{q.bmAmov}}</td>
            <td>{{q.bv1Amov}}</td>
            <td>{{q.bv2Amov}}</td>
            <td>{{q.bs1Amov}}</td>
            <td>{{q.bs2Amov}}</td>
            <td>{{q.dmAmov}}</td>
            <td>{{q.dvAmov}}</td>
            <td>{{q.dsAmov}}</td>

        </tr>
        {% endfor %}
        </table>
            </div>
            
            <div class="buttonsCenter">
                <div class="LCButtons">
                <form action="/account/training" method="post" onsubmit="return checkPendingValid()" id="pendingform">
                    {% csrf_token %}
                    <input type="submit" value="Migrate">
                    <input type="hidden" name="cycle" value="" id="pendinginput">
                    <button type="button"> Remove </button>    
                    <button type="button"> Refresh </button>  
                </form>    
                </div>
            </div>
        </div>

        <div id="Analysis" class="tabcontent">
          <h3>Analysis</h3>
          <p>Tokyo is the capital of Japan.</p>
        </div>

    

<!--    JavaScript    -->

<!-- Tab selection -->
    <script>
        function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }    
    </script>

<!-- Select a live cycle selection -->
    <script> 
        function selectLiveCycle(evt, tableRecord,cycleName) {
            var x = document.getElementById(tableRecord);
            for (i = 0; i < x.children.length;i++){
                x.children[i].className = "selectedRecord";
            }

            //    Change the value of the hidden <input> tag within the form tag for the POST request
            document.getElementById("liveinput").value = cycleName;
        }

        function selectPendingCycle(evt, tableRecord,cycleName) {
            var x = document.getElementById(tableRecord);
            for (i = 0; i < x.children.length;i++){
                x.children[i].className = "selectedRecord";
            }

            //    Change the value of the hidden <input> tag within the form tag for the POST request
            document.getElementById("pendinginput").value = cycleName;
        }
        

//    CHECKS IF ANY LIVE CYCLES ARE SELECTED
        function checkLiveValid(evt){
            console.log("Checking");
            console.log(document.getElementById("liveinput").value);
            if (document.getElementById("liveinput").value == ""){
            return false
        }
    }

//    CHECKS IF ANY PENDING CYCLES ARE SELECTED        
        function checkPendingValid(evt){
            console.log("Checking");
            console.log(document.getElementById("pendinginput").value);
            if (document.getElementById("pendinginput").value == ""){
            return false
        }
    }
        
        
    </script>


<!-- Page selection -->
    <script>
        document.getElementById("training").style.backgroundColor = "#000000"
        document.getElementById("training").style.color = "white"

    </script>
{% endblock body%}