<!doctype html> 
{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'cbstyles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block head%}
            <title>NO TITLE</title>
        {% endblock head%}
    </head>
<!--    <body>-->
    <body style="background-color: #E8E8E8;">
        <div> 
            {% if user.is_authenticated %}
            <ul class="tab">
                <li class="tablinks"><a href="{% url 'auth:home' %}" id ='main'>Main</a></li>
                <li class="tablinks"><a href="{% url 'auth:clients' %}" id='clients'>Clients</a></li>
                <li class="tablinks"><a href="{% url 'auth:training' %}" id='training'>Training</a></li>
                <li class="tablinks"><a href="{% url 'auth:calendar' %}" id='calendar_nav'>Calendar</a></li>
                <li class="tablinks"><a href="{% url 'auth:research' %}" id='research'>Research</a></li>
                <li class="tablinks"><a href="{% url 'auth:forms_nav' %}" id='forms_nav'>Forms</a></li>
                
                <li class="tablinks" style="float:right; margin-right:10px"><a href="{% url 'auth:logout' %}" id="logout" >Logout</a></li>
                
            </ul>   
            {% endif %}
        </div>
        {% block body %}
        {% endblock body%}
    </body> 
</html>