<!doctype html> 

{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block head%}
            <title>NO TITLE</title>
        {% endblock head%}
    </head>
<!--    <body>-->
    <body style="background-color: #E8E8E8;">
        <div> 
            {% if user.is_authenticated %}
            <ul class="tab">
                <li class="tablinks"><a href="{% url 'user:dashboard' %}" id ='dashboard'>Dashboard</a></li>
                <li class="tablinks"><a href="{% url 'user:training' %}" id='training'>Training</a></li>
                <li class="tablinks"><a href="{% url 'user:competitions' %}" id='competitions'>Competitions</a></li>
                <li class="tablinks"><a href="{% url 'user:account' %}" id='account'>Account</a></li>
                <li class="tablinks" style="float:right; margin-right:10px"><a href="{% url 'user:logout' %}" id="logout" >Logout</a></li>
            </ul>   
            {% endif %}
        </div>
        {% block body %}
        {% endblock body%}
    </body> 
</html>